*.userprefs
*.Override.props
Configuration.OperatingSystem.props
msfinal.pub
packages/
build/
.DS_Store
.nuget
.vs/
/buildtools/
/external/mono/
GitInfo.cache
tests/TestResult*.xml
/tmp/

# Visual Studio / MonoDevelop
*.[Oo]bj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.resources
*.res
*.lst
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
*.gpState
*.VC.db
*.VC.opendb